#toolbox.pull-right.btn-group
  a.btn.btn-inverse.btn-mini href==people_url title='List of all people' List
  a.btn.btn-inverse.btn-mini href==people_url(format: :json) title='List all people in JSON' JSON
  a.btn.btn-danger.btn-mini href==sign_out_url Sign Out
